#product-gallery {
    .sub-img{
            img{
                cursor:pointer;
                width: 100%;
                height: auto;
                padding: 10px;
            }
    }
    .main-pdt {
            img{
                cursor:default;
                width: 100%;
                height: auto;
                padding: 50px;
            }
    }

    p {
        font-size: 11px;
    }
}