/* start pagination */

#pagination {
    .pagination-body {
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        a:hover {
            background-color: blue;
            color: white;
            border-radius: 2px;
        }
    }

}

/* end pagination */