/* start pajination */
.pajination a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.pajination a:hover {
    background-color: blue;
    color: white;
    border-radius: 2px;
}

/* end pajination */