#modelManuItem {
    background: #FEFEFE;
    border: 0.5px solid rgba(0, 0, 0, 0.17);
    margin: 10px;

    &:hover {
        background-color: blue;
        color: white;
        transition: all 0.5s;
    }
}

.modelsLink {
    text-decoration: none;
    color: black;
}

.Model-manu-item-img {
    width: 130px;
    height: 130px;
}