#related-product {
    padding-top: 60px;
}

.product-heading {
    text-decoration: none;

    p {

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400 !important;
        font-size: 30px !important;
        line-height: 36px;
        color: #000000 !important;
    }
}