

#SocialService{
    .imgAera{
        border: 1px solid rgba(0, 0, 0, 0.59);
        text-align: center;
        padding: 30px;
    }
    .SocialServiceImg{
        width: 80%;
        text-align: center;
        height: auto;
    }
}