#product-list {
    .pdt-img {
        padding: 50px;
        background-color: #F6F7FB;
    }

    .btn {
        background-color: $primaryColor;
        opacity: 0;
    }

    .card {
        cursor: pointer;

        &:hover {
            .btn {
                opacity: 1;
                transition: 0.6s;
            }
        }
    }
}