#product-title {
    a {
        text-decoration: none;

        p {
            font-family: 'Rubik';
            // font-weight: 400;
            line-height: 21px;

            color: rgba(24, 20, 20, 0.91);
        }
    }
}